<div>
    <div class="top-content animate__animated animate__fadeIn" style="padding: -20px 0px;">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="social-links">
						<ul>
							<li>
								<a href="#"><i class="icon icon-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon icon-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon icon-youtube-play"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon icon-behance-square"></i></a>
							</li>
						</ul>
					</div><!--social-links-->
				</div>
				<div class="col-md-6">
					<div class="right-element">
						<a href="#" class="user-account for-buy"><i class="icon icon-user"></i><span>Account</span></a>
					</div><!--top-right-->
				</div>
				
			</div>
		</div>
	</div><!--top-content-->
    <div class="container" style="margin-top: 2%;">
        <div class="slider_right" style="margin-top: 2%; ">
            <div>
				<div class="slider-arrow_left" routerLink="/detail"><img src="assets/img/arrow-left.svg" alt=""></div>
				<h1 style="text-align: center;" class="title">Birds Gonna Be Happy</h1>
			</div>
			
            <p class="userNameId" style="text-align: center;">We see Jesus, we believe in Jesus and we wait for Jesus, yet still we suffer. This book offers real and rugged answers in life’s dark places. Discover how to live with hope in a fallen, messed- up, "wild" world, and be encouraged.</p>
        </div>
        <div style="margin-top: 4%; height: 800px;">
            <div style="margin-top: 4%; height: 600px;">
				<!-- <ngx-extended-pdf-viewer
				  #pdfViewer
				  [src]="'assets/books/A-Game-of-Thrones.pdf'"
				  [useBrowserLocale]="true"
				  [textLayer]="false"
				  [showHandToolButton]="false"
				  [showPresentationModeButton]="false"
				  [showDownloadButton]="false"
				></ngx-extended-pdf-viewer> -->
				<pdf-viewer [src]="pdfSrc"
              		[render-text]="true"
              		[original-size]="false"
             		style="height: 600px"
  				></pdf-viewer>
			  </div>						
        </div>
    </div>
</div>