<div>
<app-top-nav-bar />

<app-navbar></app-navbar>


<div id="wrapper">
  <div id="container">

    <section class="open-book">





      <div class="scene">
        <div class="book-wrap">
          <div class="left-side">
            <div class="book-cover-left"></div>
            <div class="layer1">
              <div class="page-left"></div>
            </div>
            <div class="layer2">
              <div class="page-left"></div>
            </div>
            <div class="layer3">
              <div class="page-left"></div>
            </div>
            <div class="layer4">
              <div class="page-left"></div>
            </div>
            <div class="layer-text">
              <div class="page-left-2">
                <div class="corner"></div>
                <div class="corner2"></div>
                <div class="corner-fold"></div>
                <div class="page-text w-richtext">
                  <h3 class="bg-white"><strong class="bg-white" style="color: #6a0b0b;">BOOKITO</strong></h3>
                  <p class="bg-white"> Bienvenue sur <b style="color: #6a0b0b;" class="bg-white">BOOKITO</b>,
                    votre destination ultime pour explorer le monde fascinant de la littérature.
                    Notre passion pour les livres nous a conduit à créer cette plateforme, où les lecteurs peuvent découvrir,
                    évaluer et partager leurs expériences littéraires.</p>

                  <h3 class="bg-white"><strong class="bg-white" style="color: #6a0b0b;">Notre Mission</strong></h3>
                  <p class="bg-white">
                    Chez [Nom de votre application], notre mission est de connecter les lecteurs
                    du monde entier grâce à une collection diversifiée de livres captivants.
                    Nous croyons en la puissance des mots pour inspirer, éduquer et divertir,
                    et nous nous efforçons de rendre cette expérience accessible à tous.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="center"></div>
          <div class="right-side">
            <div class="book-cover-right"></div>
            <div class="layer1">
              <div class="page-right"></div>
            </div>
            <div class="layer2 right">
              <div class="page-right"></div>
            </div>
            <div class="layer3 right">
              <div class="page-right"></div>
            </div>
            <div class="layer4 right">
              <div class="page-right"></div>
            </div>
            <div class="layer-text right">
              <div class="page-right-2">
                <div class="page-text w-richtext">
                  <h3 class="bg-white text-center" ><strong class="bg-white" style="color: #6a0b0b;text-align: center">BookitoTeam</strong></h3>
                 <app-team></app-team>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" intergrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="js/webflow.js" type="text/javascript"></script>
      <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->




      <footer>
        <ol id="page-numbers">

        </ol>
      </footer>
    </section>

  </div>
</div>

</div>
