<div>
  <div class="header-side_area">
    <div class="heder-line_area">

      <div class="heder-area_one"></div>

    </div>
    <a href="">BOOK<span>SAW</span></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo possimus est laudantium qui numquam incidunt
      repellendus, suscipit, quam dolores autem doloremque quia explicabo tenetur. Quo voluptatum, asperiores inventore?
      Est, minima!</p>
    <div class="left-area_photos">
      <div class="area_photos_block apb-1"></div>
      <div class="area_photos_block apb-2"></div>
      <div class="area_photos_block apb-3"></div>
      <div class="area_photos_block apb-4"></div>
      <div class="area_photos_block apb-5"></div>
      <div class="area_photos_block apb-6"></div>
      <div class="area_photos_block apb-7"></div>
      <div class="area_photos_block apb-8"></div>
    </div>
  </div>
  <app-top-nav-bar/>

  <app-navbar></app-navbar>
  <section>
    <div class="ask container animate__animated animate__fadeIn">
      <h1 style="margin-bottom: 2%; text-align: center;">How can we help?</h1>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Ask us" aria-label="Ask us" style="height: 65px;"
               aria-describedby="button-addon2"/>
        <button class="button" type="button" name="button" style="    background-color: #f3f2ec; ">Send <img
          src="./img/arrow-read.svg" alt=""></button>

      </div>
    </div>
  </section>

</div>
