<div class="allTeam">

  <div class="team-member">
    <img src="../../../assets/images/img4.jpg" alt="Membre 1">
    <div class="member-name">Maknine Slim</div>
  </div>

  <div class="team-member">
    <img src="../../../assets/images/img5.jpg" alt="Membre 2">
    <div class="member-name">Dabbebi Hiba</div>
  </div>

  <div class="team-member">
    <img src="../../../assets/images/img3.jpg" alt="Membre 3">
    <div class="member-name">Bouhaja Ala</div>
  </div>
</div>

<div class="allTeam">
  <div class="team-member">
    <img src="../../../assets/images/img%201.jpg" alt="Membre 3">
    <div class="member-name">Amjed Alya</div>
  </div>

  <div class="team-member">
    <img src="../../../assets/images/img2.jpg" alt="Membre 3">
    <div class="member-name">Belguith Fedy</div>
  </div>


  <div class="team-member">
    <img src="../../../assets/images/img.jpg" alt="Membre 3">
    <div class="member-name">Gdara Hazem</div>
  </div>


</div>

