<div>
  <app-top-nav-bar />

  <app-navbar></app-navbar>

  <section class="bg-sand padding-large wiper animate__animated animate__fadeIn animate__delay-1s">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="product-image">
            <img [src]="book?.image" alt="{{ book?.title }}">
          </a>
        </div>

        <div class="col-md-6 pl-5">
          <div class="product-detail">
            <span style="color: #707070; font-weight: 400; font-size: 22px;">{{ book?.genre }}</span>
            <div style="display: flex; justify-items: baseline;">
              <h1 style="margin-top: 30px;">{{ book?.title }}</h1>
              <span style="color: #707070; margin-top: 50px;">({{ book?.pages }} pages)</span>
            </div>
            <h4 style="margin-top: 10px;" class="author">BY {{ book?.author }}</h4>
            <div style="display: flex; margin-top: 8%;">
              <div *ngFor="let _ of getStarsArray(book?.ratings); let i = index" style="margin-right: 2%;">
                <img src="assets/img/star-svgrepo-comr.svg" alt="star" class="star" width="28" height="28">
              </div>
              <div *ngFor="let _ of getEmptyStarsArray(book?.ratings); let i = index" style="margin-right: 2%;">
                <img src="assets/img/star-svgrepo-com.svg" alt="star" class="star" width="28" height="28">
              </div>

              <div style='color: #707070; font: 400 1.4rem/1.35714 "Proxima Nova", Montserrat, Arial, sans-serif;'>
                ({{ book?.rating_nb }} ratings)
              </div>
            </div>
            <p style="margin-top: 50px;">
              {{ book?.description }}
            </p>
            <div style="display: flex; justify-content: space-between; margin-top: 40px;">
              <button class="button" type="button" name="button" style="background-color: #f3f2ec;"
                      routerLink="/reader">Online reader
              </button>
              <button class="button" (click)="bookExisteInPanel ? removeBook(book.book_id) : saveBook(book.book_id)" type="button" name="button" style="background-color: #f3f2ec;">
                {{ bookExisteInPanel ? 'Remove Book' : 'Save Book' }}
                <img src="assets/img/noun-bookmark-707133.svg" alt="" width="32" height="32">
              </button>

              <button class="button" (click)="downloadBook(book.book_id)" style="background-color: #f3f2ec;">
                Download Book
              </button>

            </div>
            <div style="margin-top: 20px;">
              <!--add new review               [(ngModel)]="message"
-->
              <div style="margin-bottom: 10px;">
                <div *ngFor="let _ of getEmptyStarsArray(book?.ratings); let i = index" style="margin-right: 2%;">
                  <img src="assets/img/star-svgrepo-com.svg" alt="star" class="star" width="28" height="28">
                </div>
              </div>
              <input type="text" class="form-control" placeholder="add new review" aria-label="Ask us" style="height: 150px;" aria-describedby="button-addon2"/>
              <div style="display: flex; justify-content: space-between; margin-top: 15px;">
                <button type="submit" name="add-to-cart" value="27545" class="button">Like</button>
                <button class="button" type="button" name="button" style="background-color: #f3f2ec;">Clear
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="popularbook container">

        <div class="popularbook-tabblock">
          <div class="tab_items" style="width: 200px;">
            <div class="tab__item js-tab_trigger tab__item-active" data-tab='1'>User Reviews</div>
            <div class="tab__item js-tab_trigger" data-tab='2'>Links</div>
          </div>

          <div class="book_items book_item_active js-tab_contant" data-tab='1'>
            <div style="display: flex; justify-content: space-between; width: 100%; margin-top: 30px; flex-wrap: wrap;">


              <div class="box" *ngFor="let review of reviews">
                <div class="profile-image">
                  <img [src]="review.image" alt="{{ review.author }}" onerror="this.src='assets/images/team-member2.jpg';">
                </div>
                <h3 class="gray-text" style="margin-top: 10px;">{{ review.author }}</h3>
                <span class="gray-text">{{ review.date | date:'mediumDate' }}</span>
                <div class="rating-stars">
                  <div *ngFor="let item of [].constructor(review.rating);">
                    <img src="assets/img/star-svgrepo-comr.svg" alt="star" class="star" style="margin-right: 2px;">
                  </div>
                  <div *ngFor="let item of [].constructor(5 - review.rating);">
                    <img src="assets/img/star-svgrepo-com.svg" alt="star" class="star" style="margin-right: 2px;">
                  </div>
                </div>
                <p class="review-text">
                  {{ review.showFullReview ? review.review : (review.review | slice:0:100) + '...' }}
                </p>
                <button class="show-more-button" (click)="review.showFullReview = !review.showFullReview">
                  {{ review.showFullReview ? 'Less' : 'More' }}
                </button>
              </div>


              <div class="book_item_active more_rev" [routerLink]="'/reviews/' + book.book_id">
                More Reviews
              </div>
            </div>
          </div>
          <div class="book_items book_item_active js-tab_contant" data-tab='2'>
            <div class="tab_items">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer id="footer">
    <div class="container">
      <div class="row" style="display: flex; justify-content: center;">
        <div class="right-block" style="width: 250px;">Bouhajja Alaeddine
          <div class="rb_verticalline"></div>
        </div>
        <div class="right-block" style="width: 200px;">Hiba
          <div class="rb_verticalline"></div>
        </div>
        <div class="right-block" style="width: 200px;">Fedy
          <div class="rb_verticalline"></div>
        </div>
        <div class="right-block" style="width: 200px;">Slim
          <div class="rb_verticalline"></div>
        </div>
        <div class="right-block" style="width: 200px;">Hazem
          <div class="rb_verticalline"></div>
        </div>
        <div class="right-block" style="width: 200px;">Amjed
          <div class="rb_verticalline"></div>
        </div>
      </div>
    </div>
  </footer>

</div>
