.author{
    lex-basis: auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box{
    padding: 50px;
    border-radius: 15px;
    background-color: #efeee8;
}

.more_rev{
    margin: auto;
    font-size: 16px;
    font-weight: 600;
    border-bottom: solid 3px green;
    cursor: pointer;
}

.more_rev :hover{
    font-size: 17px;
    border-bottom: solid 3px #efeee8;
    cursor: pointer;
}

.show-more-button {
  background: none;
  border: none;
  color: blue; /* example color */
  cursor: pointer;
}
