.author{
    lex-basis: auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box{
    padding: 50px;
    border-radius: 15px;
    background-color: #efeee8;
}