.statistics .progress{
    height: 14px;
    border-radius: 8px;
    background-color: #d4d3d3;
}
.statistics{
    background-color: #efeee8;
    padding: 3%;
    border-radius: 6px;
    margin-bottom: 2%;
}
.section-statistic{
    background-color: #efeee8;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}