<div>
  <app-top-nav-bar/>

  <app-navbar></app-navbar>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="colored">
            <h1 class="page-title">Favorites Books</h1>
            <div class="breadcum-items">
              <span class="item"><a href="index.html">Home /</a></span>
              <span class="item colored">Favorites</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="favorite-books-section" style="margin-top: 10px;">
    <div class="container">
      <div class="row">
        <div *ngFor="let book of favoriteBooks" class="col-lg-3 col-md-4 col-sm-6 book-col">
          <div class="book-card">
            <img [src]="book.book_image" alt="{{ book.book_title }}" class="book-cover">
            <div class="book-info">
              <h5 class="book-title">{{ book.book_title }}</h5>
              <p class="book-author">{{ book.book_author }}</p>
            </div>
            <div class="book-favorite" (click)="removeBook(book.book)">
              <span class="favorite-star">&#9733;</span> <!-- Star character -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="spinner-container" *ngIf="!isDataLoaded">
    <div class="spinner-grow text-dark" role="status" style="margin-right: 1%;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status" style="margin-right: 1%;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <footer>
    <div class="footer container">
      <div class="container">
        <div class="row" style="display: flex; justify-content: center;">
          <div class="right-block" style="width: 250px;">Bouhajja Alaeddine
            <div class="rb_verticalline"></div>
          </div>
          <div class="right-block" style="width: 200px;">Hiba
            <div class="rb_verticalline"></div>
          </div>
          <div class="right-block" style="width: 200px;">Fedy
            <div class="rb_verticalline"></div>
          </div>
          <div class="right-block" style="width: 200px;">Slim
            <div class="rb_verticalline"></div>
          </div>
          <div class="right-block" style="width: 200px;">Hazem
            <div class="rb_verticalline"></div>
          </div>
          <div class="right-block" style="width: 200px;">Amjed
            <div class="rb_verticalline"></div>
          </div>
        </div>
      </div>


    </div>


  </footer>


</div>

